<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('./assets/img/azerty.jpg');">
    <!--<div [style.background]="'url(./assets/img/background.jpg)'">-->
         <!--   Creative Tim Branding   -->
         <a  [routerLink]="['/home']">
             <div class="logo-container">
                
                 <div class="brand">
                   Page d'accueil
                 </div>
             </div>
         </a>
 
         <div class="container">
             <div class="row">
                 <div class="col-md-8 col-md-offset-2">
                     <div class="description">
                         <h3 [ngStyle]="{color:'white' }">Gestion des Produits </h3>
                        
                     </div>
 
                     <div class="fresh-table full-color-azure">
                         <!--
             Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
             Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
           -->
                         <div class="fixed-table-toolbar">
                             
                            
                             <div class="pull-right search input-group">
                                 <input class="form-control&#10;        &#10;        search-input" type="text"
                                     placeholder="Search" autocomplete="off">
                             </div>
                         </div>
 
                         <table id="fresh-table" class="table">
                             <thead>
                                 <th data-field="id"><h6 [ngStyle]="{color:'white' }"> ID-Produit </h6></th>
                                 <th data-field="name" data-sortable="true"> <h6 [ngStyle]="{color:'white' }"> Nom-Produit  </h6></th>
                                 <th data-field="country" data-sortable="true"> <h6 [ngStyle]="{color:'white' }">Désignation </h6></th>
                                 <th data-field="country" data-sortable="true"> <h6 [ngStyle]="{color:'white' }">url image Principale </h6></th>
                                 <th data-field="country" data-sortable="true"> <h6 [ngStyle]="{color:'white' }">url dossier technique de produit </h6></th>

                             <tbody>
                                 <tr *ngFor="let produits of produit | async">
                                     <td [ngStyle]="{color:'white' }">{{produits.idProduit}}</td>
                                     <td [ngStyle]="{color:'white' }">{{produits.nomProduit}}</td>
                                     <td [ngStyle]="{color:'white' }">{{produits.designation}}</td>
                                     <td type="url" > <a  [ngStyle]="{color:'white' }" [routerLink]="['/home']">  {{produits.urlImagePrincipale}} </a></td>
                                     <td [ngStyle]="{color:'white' }"> <a  [ngStyle]="{color:'white' }" [routerLink]="['/home']"> {{produits.urlDossierTec}} </a></td>
                                      <td> </td>  
                                      <td>
                                        <div class="fixed-table-toolbar">
                                            <div class="bs-bars pull-left">
                                                <div class="toolbar">
                                                
                                                    <button class="btn btn-default" id="modBtn">  <h6 [ngStyle]="{color:'white' }"> <b>Modifier</b></h6></button>
                                                    <button button (click)="delete(produits.idProduit)"class="btn btn-default" id="suppBtn"> <h6 [ngStyle]="{color:'white' }"> <b>Supprimer</b> </h6></button>
                                                </div>
                                            </div>
                                           
                                    
                                        </div>
                                    </td>
                                         
                                 </tr>
                                
                                
                                
                             </tbody>
 
                         </table>
                         <br> 
                         
     
                     </div>
                     <!--
                     <a class="nav-link" href="tables.html">
                              
                        <span> L'image principale de produit </span></a>
                    
                    
                      <a class="nav-link" href="tables.html">
                          
                  
                        <span> Le dossier technique de produit  </span></a>
                        -->
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
 
                 </div>
             </div>
         </div>
         
     </div>
     </div>
 </body>
 

