
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3"> SuiviProd <sup> </sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/home']">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Espace Responsale <br> Production</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">

  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
    
      <span>Consulter le suivie de production</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[routerLink]="['/produits']">
     
      <span>Les produits</span></a>
  </li>
  <li class="nav-item">
      <a class="nav-link"[routerLink]="['/ordresFab']">
      <span>les ordres de fabrication</span> </a>
  
  
  </li>

 
  <!-- Nav Item - Utilities Collapse Menu -->
  

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
  </div>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/infoPerso']">
      
      <span>les informations Personnels </span></a>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->


  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/Notifs']">
     
      <span>les notification</span></a>
  </li>
  
  <!-- Nav Item - Tables -->
 <br>
 <br>
 <br>
 <br> 
 <br>
 <br> 

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <!--
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
  -->

</ul>

