<div id="wrapper">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3"> nom de société <sup> </sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/home']">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Espace Admin</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      .
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>les seuils de production</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">seuils:</h6>
          <a class="collapse-item" href="buttons.html">Définir un <br>nouveau seuil</a>
          <a class="collapse-item" href="cards.html">consulter le <br> seuil actuel </a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/tableau']">
        <i class="fas fa-fw fa-table"></i>
        <span>le tableau de bord</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>les rapports</span></a>
    
  </li>
  <li class="nav-item">
    <a class="nav-link"  [routerLink]="['/diffuserNotif']">
      <i class="fas fa-fw fa-table"></i>
      <span>diffusion des notification</span></a>
  </li>


    <!-- Nav Item - Utilities Collapse Menu -->
 

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      .
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Gestion des employés</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">gestion des employés :</h6>
          <a class="collapse-item" [routerLink]="['/creationCompte']">Ajout d'un employé</a>
          <a class="collapse-item" [routerLink]="['/gestionUser']">Suppression/modification  <br>des employés </a>
        
  
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClients" aria-expanded="true" aria-controls="collapseClients">
        <i class="fas fa-fw fa-folder"></i>
        <span>Gestion des Clients</span>
      </a>
      <div id="collapseClients" class="collapse" aria-labelledby="headingClients" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Gestion des Clients :</h6>
          <a class="collapse-item" [routerLink]="['/ajoutClient']">Ajout Client</a>
          <a class="collapse-item" [routerLink]="['/gestionUser']">Suppression/modification  <br>des Clients </a>
        
  
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduit" aria-expanded="true" aria-controls="collapseProduit">
        <i class="fas fa-fw fa-folder"></i>
        <span>Gestion des Produits</span>
      </a>
      <div id="collapseProduit" class="collapse" aria-labelledby="headingProduit" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Gestion des Clients :</h6>
          <a class="collapse-item" [routerLink]="['/ajoutProduit']">Ajout Produit</a>
          <a class="collapse-item" [routerLink]="['/gestionProduit']">Suppression/modification  <br> des produits </a>
        
  
        </div>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>les ordres de fabrication</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">les ordres de <br>fabrication:</h6>
          <a class="collapse-item" [routerLink]="['/ordresFab']">Consulter les <br> ordre des fabrication</a>
          <a class="collapse-item" [routerLink]="['/ajoutOf']">Ajout d'un <br> ordre de fabrication</a>
          <a class="collapse-item" [routerLink]="['/gestionOf']">Suppression/modification  <br>  des ordres des fabrications</a>
         
        </div>
      </div>
    </li>
    <!-- Nav Item - Charts -->
    <!-- 
    <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
    </li> -->

    <!-- Nav Item - Tables -->


    <!-- Divider -->
    <!--<hr class="sidebar-divider d-none d-md-block">-->

    <!-- Sidebar Toggler (Sidebar) -->
    <!--
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    -->

  </ul>
</div>