<div [style.background]="'url(./assets/img/background1.jpg)'">


    <div class="container">
      <a  [routerLink]="['/home']">
        <div class="logo-container">
           
            <div class="brand">
              Page d'accueil
            </div>
        </div>
    </a>
    <br> 
<br> 
 
    <form class="user" type="submit">
        <h7 [ngStyle]="{color:'white' }"> <b>Définir un nouveau seuil</b></h7>

    <br>
    <br>
    <textarea class=" form-control-user" id="difseuil">
    </textarea>
    <br>
    <button class="btn btn-primary btn-user " type="submit"(click)="add()"> Définir</button>
    <hr color="white">

</form>
<br> 
<br>
<br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 


    </div>
    
    </div>
