<div class="limiter">
    <div class="container-login100" style="background-image: url('./assets/img/background1.jpg');">
<!--<div [style.background]="'url(./assets/img/background1.jpg)'">-->


    <div class="container">
      <a  [routerLink]="['/home']">
        <div class="logo-container">
           
            <div class="brand">
              Page d'accueil
            </div>
        </div>
    </a>
    <br> 
<br> 
 
    <form class="user">
        <h7 [ngStyle]="{color:'white' }"> <b>Ajouter une notification pour tous les employés </b></h7>

    <br>
    <br>
    <textArea class=" form-control-user" id="diffnotif">
    </textArea>
    <br>
    <button class="btn btn-primary btn-user "> Ajouter</button>
    <hr color="white">

</form>
<br> 
<br>
<br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 
<br><br> 


    </div>
    </div>
    </div>