<body>


    <div [style.background-color]="'#6610f2'">
        <a  [routerLink]="['/home']">
            <div class="logo-container">
               
                <div class="brand">
                  Page d'accueil
                </div>
            </div>
        </a>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="description">
                        <h3 [ngStyle]="{color:'white' }">Gestion des utilisateurs</h3>
                       
                    </div>

                    <div class="fresh-table full-color-azure">
          
                        <div class="fixed-table-toolbar">
                            <div class="bs-bars pull-left">
                              
                            </div>
                            <div class="columns columns-right btn-group pull-right">
                                <button name="refresh" title="Refresh" 
                                class="btn btn-default" aria-label="Refresh" type="button">
                                    <i class="glyphicon glyphicon-refresh icon-refresh"></i>

                                </button>
                                <button name="toggle" title="Toggle" class="btn btn-default"
                                    aria-label="Toggle" type="button">
                                    <i class="glyphicon glyphicon-list-alt icon-list-alt"></i>

                                </button>
                                <div title="Columns" class="keep-open btn-group">
                                    <button title="Columns" class="btn btn-default dropdown-toggle" aria-label="Columns"
                                        type="button" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-th icon-th"></i>

                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" role="menu">
                                        <li class="dropdown-item-marker" role="menuitem"><label><input type="checkbox"
                                                    checked="checked" value="0" data-field="id"> <span>ID</span></label>
                                        </li>
                                        <li class="dropdown-item-marker" role="menuitem"><label><input type="checkbox"
                                                    checked="checked" value="1" data-field="name">
                                                <span>Nom&Prénom</span></label></li>
                                        <li class="dropdown-item-marker" role="menuitem"><label><input type="checkbox"
                                                    checked="checked" value="2" data-field="salary">
                                                 <h6 [ngStyle]="{color:'white' }"> CIN </h6> </label></li>
                                        <li class="dropdown-item-marker" role="menuitem"><label><input type="checkbox"
                                                    checked="checked" value="3" data-field="country">
                                                <span>Salaire</span></label></li>
                                        <li class="dropdown-item-marker" role="menuitem"><label><input type="checkbox"
                                                    checked="checked" value="4" data-field="city">
                                                <span>Poste</span></label></li>
                                        <li class="dropdown-item-marker" role="menuitem"><label><input type="checkbox"
                                                    checked="checked" value="5" data-field="actions">
                                                <span>Actions</span></label></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pull-right search input-group">
                                <input class="form-control&#10;        &#10;        search-input" type="text"
                                    placeholder="Search" autocomplete="off">
                            </div>
                        </div>

                        <table id="fresh-table" class="table">
                            <thead>
                                <th data-field="id"><h6 [ngStyle]="{color:'white' }"> ID </h6></th>
                                <th data-field="name" data-sortable="true"> <h6 [ngStyle]="{color:'white' }">  Nom </h6></th>
                                <th data-field="salary" data-sortable="true"> <h6 [ngStyle]="{color:'white' }">Prénom</h6></th>
                                <th data-field="country" data-sortable="true"> <h6 [ngStyle]="{color:'white' }">CIN</h6></th>
                                <th data-field="city"> <h6 [ngStyle]="{color:'white' }">Poste </h6></th>
                                <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">
                                    <h6 [ngStyle]="{color:'white' }"> </h6></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let users of user | async">
                                    <td>{{users.id}}</td>
                                    <td>{{users.nom}}</td>
                                    <td>{{users.prenom}</td>
                                    <td>{{users.cin}}</td>
                                    <td>{{users.role}}</td>
                                    <td>{{users.idUser}}</td>
                                    <td>
                                        <div class="fixed-table-toolbar">
                                            <div class="bs-bars pull-left">
                                                <div class="toolbar">
                                                
                                                    <button  class="btn btn-default" id="modBtn">  <h6 [ngStyle]="{color:'white' }"> <b>Modifier</b></h6></button>
                                                    <button (click)="delete(users.idUser)"class="btn btn-default" id="suppBtn"> <h6 [ngStyle]="{color:'white' }"> <b>Supprimer</b> </h6></button>
                                                </div>
                                            </div>
                                           
                                    
                                        </div>
                                    </td>
                                         
                                    
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="fixed-table-toolbar">
                                            <div class="bs-bars pull-left">
                                                <div class="toolbar">
                                                
                                                    <button class="btn btn-default" id="modBtn">  <h6 [ngStyle]="{color:'white' }"> <b>Modifier</b></h6></button>
                                                    <button class="btn btn-default" id="suppBtn"> <h6 [ngStyle]="{color:'white' }"> <b>Supprimer</b> </h6></button>
                                                </div>
                                            </div>
                                           
                                    
                                        </div>
                                    </td>
                                         
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="fixed-table-toolbar">
                                            <div class="bs-bars pull-left">
                                                <div class="toolbar">
                                                
                                                    <button class="btn btn-default" id="modBtn">  <h6 [ngStyle]="{color:'white' }"> <b>Modifier</b></h6></button>
                                                    <button class="btn btn-default" id="suppBtn"> <h6 [ngStyle]="{color:'white' }"> <b>Supprimer</b> </h6></button>
                                                </div>
                                            </div>
                                           
                                    
                                        </div>
                                    </td>
                                         
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="fixed-table-toolbar">
                                            <div class="bs-bars pull-left">
                                                <div class="toolbar">
                                                
                                                    <button class="btn btn-default" id="modBtn">  <h6 [ngStyle]="{color:'white' }"> <b>Modifier</b></h6></button>
                                                    <button class="btn btn-default" id="suppBtn"> <h6 [ngStyle]="{color:'white' }"> <b>Supprimer</b> </h6></button>
                                                </div>
                                            </div>
                                           
                                    
                                        </div>
                                    </td>
                                         
                                </tr>
                            </tbody>

                        </table>
                        <br> 
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
    
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</body>

  <!--  <div [style.background]="'url(./assets/img/background2.jpg)'">-->
                  <!--
            Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
            Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
          -->
