<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>les ordres des fabrications </title>

  
</head>

<body id="page-top">
    

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
  
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <a  [routerLink]="['/home']">
            <div class="logo-container">
               
                <div class="brand">
                  Page d'accueil
                </div>
            </div>
        </a>

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Les Produits </h1>
        
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr >
                      <th>ID-Produit</th>
                      <th>Nom-Produit</th>
                      <th>Désignation</th>
                      <th>url image Principale</th>
                      <th>url dossier technique</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr >
                      <th>ID-Produit</th>
                      <th>Nom-Produit</th>
                      <th>Désignation</th>
                      <th>url image Principale</th>
                      <th>url dossier technique</th>
                    
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let produits of produit | async" >
                        <td >{{produits.idProduit}}</td>
                        <td>{{produits.nomProduit}}</td>
                        <td >{{produits.designation}}</td>
                        <td type="url" > <a   [routerLink]="['/home']">  {{produits.urlImagePrincipale}} </a></td>
                        <td > <a  [routerLink]="['/home']"> {{produits.urlDossierTec}} </a></td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer> 
           <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  

 

   
   
  
</body>

</html>

