<div [style.background]="'url(./assets/img/background1.jpg)'">


<div class="container">
  <a  [routerLink]="['/home']">
    <div class="logo-container">
       
        <div class="brand">
          Page d'accueil
        </div>
    </div>
</a>

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
              <img class="col-lg-6  d-lg-block " src="assets/img/4.PNG" alt="" />
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">création d'un compte</h1>
                  </div>
                  <form class="user"  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group" >
                         <input  class="form-control form-control-user" id="firstName"  placeholder="prénom"
                          formControlName="firstName"
                           class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}" >

                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                              <div *ngIf="f.firstName.errors.required">First Name is required</div>
                          </div>
              
                    </div>
                    <div class="form-group">
                        <input  class="form-control form-control-user" id="lastName"  placeholder="nom"
                        formControlName="lastName" 
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                        <div *ngI f="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                      </div>
                      <div class="form-group">
                        <input  class="form-control form-control-user" id="dateNaisse" placeholder="Date de naissance "
                        formControlName="dateNaiss" 
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.dateNaiss.errors }">
                        <div *ngIf="submitted && f.dateNaiss.errors" class="invalid-feedback">
                          <div *ngIf="f.dateNaiss.errors.required">date naissance is required</div>
                          <!--<div *ngIf="f.dateNaiss.errors.CustomValidators.date">date naissance must be a valid date</div>-->
                      </div>
                      </div>
                      <div class="form-group">
                        <input  class="form-control form-control-user" id="dateTrav" placeholder="date de début de travaille
                        "
                        formControlName="dateTrav" 
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.dateTrav.errors }">
                        <div *ngIf="submitted && f.dateTrav.errors" class="invalid-feedback">
                          <div *ngIf="f.dateTrav.errors.required">date naissance is required</div>
                         <!-- <div *ngIf="f.dateTrav.errors.CustomValidators.date">date naissance must be a valid date</div>-->
                      </div>
                      </div>
                      <div class="form-group">
                        <input  class="form-control form-control-user" id="email" placeholder="adresse email"
                        formControlName="email"
                         class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>


                      </div>
                      <div class="form-group">
                        <input  class="form-control form-control-user" id="password"  placeholder="mot de passe "
                        formControlName="password"
                         class="form-control" 
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                         
                         <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>


                      </div>
                    
                    <div class="form-group">
                      <input  class="form-control form-control-user" id="confirmPassword" placeholder="Confirmer le mot de passe "
                      formControlName="confirmPassword"
                       class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>
   
                    </div>
                    <p>Selectionner le poste :</p>

            
                    
                    <div>
                      <input type="radio" id="RP" name="drone" value="RP">
                      <label for="RP">Responsable de production</label>
                    </div>
                    
                    <div>
                      <input type="radio" id="employer" name="drone" value="employer">
                      <label for="employer">Employé</label>
                    </div>
                    <button class="btn btn-primary btn-user btn-block"> Ajouter</button>
                    <button class="btn btn-primary btn-user btn-block" type="reset" (click)="onReset()">Annuler</button>
                  
                    <hr>
                  
                   
                  </form>
                  <hr>
                
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  
</div>
