<p>first-page works!</p>
     <!-- Navigation-->
     <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" [routerLink]="['/login']">Connectez-Vous </a><!-- <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>-->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                   
    
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead bg-primary text-white ">
        <div class="container d-flex flex-column"> 

       <p> Notre application permettant concrètement de suivre en continu et
            en temps réel la production  en utilisant la technologie RFID,
             c’est-à-dire qu’il s’agit bien d’une application web,
              qui permettra de suivre en directe, les ordres de fabrication, 
              les ordres de production, les encours, la production ﬁnie etc...
               Et de ce fait, cette solution aboutit à un contrôle efficace de production dans
                une entreprise industrielle, de coup Chaque travail réalisé dans l’usine est
                 enregistré comme un repère dans l’application de suivi de production en temps réel
                 , et donc on peut le consulter immédiatement : <br>
                 •	L’état de la production <br>
•	Calculer la durée de livraison des produits à fabriquer pour le client <br>       
•	Temps utilisé pour chaque opération et machines<br>
•	Coûts par ordre de fabrication<br>
•	Charge de travail utilisée pour les travailleurs dans les usines même dans un intervalle de données<br>
 Il s’agit d’un ﬂux d’informations important concernant le rendement des
  ouvrières par unité produite. Par conséquence, il est possible à partir de cette
   solution de générer des diagrammes de statistiques et des rapports du suivi. 

                 </p>
       <br>
       <br>
       <br>
       <a  [routerLink]="['/home']">
        <div class="logo-container">
           
            <div class="brand" [ngStyle]="{color:'white' }">
                <u>Le droit interne de l'entreprise</u>



            </div>
        </div>
    </a>
       <br>
       <br>
       <br>

       
      </div>
    </header>
