<html>
<body class="bg-gradient-primary">
  <div class="limiter">
    <div class="container-login100" style="background-image: url('./assets/img/background1.jpg');">
    <!--<div [style.background]="'url(./assets/img/background.jpg)'">-->
        

      <div class="container "> 
        <!-- Outer Row -->
        <div class="row justify-content-center">
    
          <div class="col-md-9">
    
            <div class="jumbotron jumbotron-fluid shadow-lg rounded" style="margin: 40px; background-color: rgba(127, 214, 214, 0.527); box-shadow: blue;">  
              <div class="container "> 
              <div class="card-body p-0" >
                <!-- Nested Row within Card Body -->
                <div class="row">
                  <!--  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                 <!-- <img class="col-lg-6 d-none d-lg-block " src="assets/img/login.jpg" alt="" />-->
                  <div class="col-lg-8 offset-lg-2">
                  
                      <div class="text-center">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">Mot de passe oublié?</h1>
                      <p class="mb-4">
                        Nous l'obtenons, des choses arrivent. Entrez simplement votre adresse e-mail ci-dessous et nous vous enverrons un lien pour réinitialiser votre mot de passe!</p>
                    </div>
                    <form class="user">
                      <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                      </div>
                      <a href="login.html" class="btn btn-primary btn-user btn-block">
                        Reset Password
                      </a>
                    </form>
                    <hr>
                    <div class="text-center">
                      <a class="small" routerLink="/login" [ngStyle]="{color:'black' }">Vous vous souvenez votre mot de passe? Login!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
    <br>
    <br>
    <br>
    <br>
  
</div>
</div>

  </body>
  
  </html>
  